/*
plugin for Google Maps Marker
Author: a2exfr
http://my-sitelab.com/
Date: 03-11-2016
Version 1.0.8 */
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
  .info_inner{
	  float:left;margin-top:2em; border:1px solid #ccc; background:#fafafa; border-radius:3px; padding:12px;
  }